{%- assign additional_suffix = current_block_title | append: product_index | default: '' -%}
{%- assign current_variant = current_product.selected_or_first_available_variant -%}

<div class="form-product-simple {% if hide_for_mobile %} hidden-xs {% endif %}">
  <form action="/cart/add" method="post" enctype="multipart/form-data" class="js-form-ajax js-form-without-btn">
    <select
      name="id"
      class="hidden"
      data-options="{% for option in current_product.options %}{{option | downcase | handleize }}{% unless forloop.last %},{% endunless %}{% endfor %}"
    >
      {% for variant in current_product.variants %}
        {% capture data_fields %}{% for option in current_product.options %}data-{{option | downcase | handleize }}="{{ variant.options[forloop.index0] | downcase | handleize }}" {% endfor %}{% endcapture %}
        {% if variant.available %}
          <option
            {% if variant == current_product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            data-sku="{{ variant.sku }}"
            value="{{ variant.id }}"
            data-price="{{ variant.price | money }}"
            {{ data_fields }}
            data-q-price="{{ variant.price | divided_by: 4 | money_with_currency }}"
          >
            {{ variant.title }} - {{ variant.price | money_with_currency }}
          </option>
        {% else %}
          <option
            disabled="disabled"
            {{ data_fields }}
            data-q-price="{{ variant.price | divided_by: 4 | money_with_currency }}"
          >
            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
          </option>
        {% endif %}
      {% endfor %}
    </select>

    {%- for option in current_product.options_with_values -%}
      {%- assign option_handle = option.name | handle -%}

      {%- assign option_selector = 'option' | append: forloop.index -%}
      {%- assign current_variant_option = current_variant[option_selector] -%}
      {%- assign current_variant_option_handle = current_variant_option | handle -%}

      <div class="form__row {% if forloop.first %}first-row{% endif %}">
        <label class="form__label">Select {{ option.name | capitalize }}</label>

        <div class="form__controls">
          {%- if option_handle == 'color' -%}
            <ul class="list-radios-colors">
              {%- for value in option.values -%}
                {%- assign value_handle = value | handle -%}

                {% assign cc = '' | default: '#ffffff' %}
                {% for vc in vanityColors %}
                  {% assign _vc = vc | split: '|' %}
                  {% assign _cn = _vc[0] %}
                  {% assign _cc = _vc[1] %}
                  {% if _cn == value_handle %}
                    {% assign cc = _cc %}
                  {% endif %}
                {% endfor %}

                <li>
                  <div class="radio">
                    <input
                      type="radio"
                      placeholder="{{option_handle}}: {{ value }}"
                      name="{{ option_handle }}"
                      id="{{ option_handle | append: '-' | append: value_handle | append: '-' | append: forloop.index | append: '-' | append: additional_suffix | append: current_product.id }}"
                      value="{{ value | handle }}"
                      data-preffix="{{option_handle}}"
                    >

                    <label
                      for="{{ option_handle | append: '-' | append: value_handle| append: '-' | append: forloop.index | append: '-' | append: additional_suffix | append: current_product.id }}"
                      data-color-name="{{ value | handle }}"
                      style="background-color: {{ cc }};"
                      >&nbsp;</label
                    >
                  </div>
                  <!-- /.radio -->
                </li>
              {%- endfor -%}
            </ul>
            <!-- /.list-radios-colors -->
          {%- else -%}
            <ul class="list-radios-boxes">
              {%- for value in option.values -%}
                {%- assign value_handle = value | handle -%}

                <li>
                  <div class="radio">
                    <input
                      type="radio"
                      placeholder="{{option_handle}}: {{ value }}"
                      name="{{ option_handle }}"
                      id="{{ option_handle | append: '-' | append: value_handle | append: '-' | append: forloop.index | append: '-' | append: additional_suffix | append: current_product.id }}"
                      value="{{ value | handle }}"
                      data-preffix="{{option_handle}}"
                    >

                    <label for="{{ option_handle | append: '-' | append: value_handle | append: '-' | append: forloop.index | append: '-' | append: additional_suffix | append: current_product.id }}">
                      {{- value -}}
                    </label>
                  </div>
                  <!-- /.radio -->
                </li>
              {%- endfor -%}
            </ul>
            <!-- /.list-radios -->
          {%- endif -%}
        </div>
        <!-- /.form__controls -->
      </div>
      <!-- /.form__row -->
    {%- endfor -%}

    {%- assign product_tags_string = product.tags | join: ',' -%}

    {% if product_tags_string contains 'no_discounts_allowed' %}
      <input
        type="text"
        name="properties[noDiscountsAllowed]"
        value="Not eligible for discounts or promo codes"
        style="display: none"
      >
    {% endif %}

    {% if product_tags_string contains 'no_gift_wrap_allowed' %}
      <input
        type="text"
        name="properties[no_gift_wrap_allowed]"
        value="{{ 'cart.general.no_gift_wrap_allowed' | t }}}}"
        style="display: none"
      >
    {% endif %}
  </form>
</div>
<!-- /.form-product-simple -->
