{% if paginate.pages > 1 %}

	{% unless prev_label %}
		{% assign prev_label = 'general.pagination.previous' | t %}
	{% endunless %}

	{% unless next_label %}
		{% assign next_label = 'general.pagination.next' | t %}
	{% endunless %}

	<div class="paging {{ class }}">
		{% if prev_next != false %}
			{% if paginate.previous.url %}
				<a href="{{ paginate.previous.url }}">{{ prev_label }}</a>
			{% endif %}
		{% endif %}

		{% if pager != false %}
			<ul>
				{% for part in paginate.parts %}
					{% if part.is_link %}
						<li>
							<a href="{{ part.url }}" title="">{{ part.title }}</a>
						</li>
					{% else %}
						{% if part.title == paginate.current_page %}
							<li class="current"><span>{{ part.title }}</span></li>
						{% else %}
							<li><span>{{ part.title }}</span></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}

		{% if prev_next != false %}
			{% if paginate.next.url %}
				<a href="{{ paginate.next.url }}">{{ next_label }}</a>
			{% endif %}
		{% endif %}
	</div><!-- /.paging -->
{% endif %}
