<section class="section-default template-interio_design">
	<div class="shell">
		<div class="section__inner">
			<div class="page__head">
				<h2>{{ 'customer.reset_password.title' | t }}</h2>
				<p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
			</div>


			{% form 'reset_customer_password', class: 'form form-default form__center form-contacts' %}
				{% capture error_password %}{% if form.errors contains "password" %}error{% endif %}{% endcapture %}
				{% capture error_password_confirm %}{% if form.errors contains "password_confirmation" %}error{% endif %}{% endcapture %}
				
				{% if form.errors %}
					<div class="form__notice error">
						{{ form.errors | default_errors }}
					</div><!-- /.form-notice -->
				{% endif %}

				<div class="form__body">
					<div class="form__row">
						<label for="field-password" class="form__label" >{{ 'customer.reset_password.password' | t }}</label>
						
						<input type="password" value="" name="customer[password]" id="field-password" class="field {{ error_password }}" placeholder="{{ 'customer.reset_password.password' | t }}" />
					</div><!-- /.form-row -->

					<div class="form__row">
						<label for="field-password-confirm" class="form__label" >{{ 'customer.reset_password.password_confirm' | t }}</label>

						<input type="password" value="" name="customer[password_confirmation]" id="field-password-confirm" class="field {{ error_password_confirm }}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" />
					</div><!-- /.form-row -->
				</div><!-- /.form-body -->
				
				<div class="form__actions clear">
					<input type="submit" class="form__btn btn btn--block" value="{{ 'customer.reset_password.submit' | t }}">
				</div><!-- /.form-actions -->
			{% endform %}

		</div><!-- /.section__inner -->
	</div><!-- /.shell -->
</section><!-- /.section-default -->